
h1 {
 color: aqua;
 border: solid;
 margin: 3%;
}
 /* * {
    border: solid;
}*/

.header{
    background-color: brown;
    display: flex;
    justify-content: space-between;
}

.grid{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

h2,p{
    text-align: center;
}

body{
    background-color: #09F4D4;
}